{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Know more</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
{% endblock meta %}

{% block content %}
<link rel="stylesheet" href="{%  static 'education.css' %}">

<!--NAVBAR-->
  <!-- Navbar Light -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
	<div class="container">
	  <a class="navbar-brand" href="/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
		Consent Beacon
	  </a>
	  <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon mt-2">
		  <span class="navbar-toggler-bar bar1"></span>
		  <span class="navbar-toggler-bar bar2"></span>
		  <span class="navbar-toggler-bar bar3"></span>
		</span>
	  </button>
	  <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
		<ul class="navbar-nav navbar-nav-hover w-100">
		  <li class="nav-item dropdown dropdown-hover mx-2 ms-lg-5">
			<a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
			  Pages
			  <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-v1.0.1/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
			</a>
			<div class="dropdown-menu dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages">
			  <div class="d-none d-lg-block">
	<a href="javascript:;" class="dropdown-item border-radius-md">
	  About Us
	</a>
	<a href="javascript:;" class="dropdown-item border-radius-md">
	  Contact Us
	</a>
	<a href="javascript:;" class="dropdown-item border-radius-md">
	  Author
	</a>
	<a href="javascript:;" class="dropdown-item border-radius-md">
	  Sign In
	</a>
  </div>
  
  <div class="d-lg-none">
	<a href="/about" class="dropdown-item border-radius-md">
	  About Us
	</a>
	<a href="javascript:;" class="dropdown-item border-radius-md">
	  Contact Us
	</a>
	<a href="javascript:;" class="dropdown-item border-radius-md">
	  Author
	</a>
	<a href="/auth/login" class="dropdown-item border-radius-md">
	  Sign In
	</a>
  </div>
  
			</div>
		  </li>
  
		  <li class="nav-item dropdown dropdown-hover mx-2">
			<a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuBlocks" data-bs-toggle="dropdown" aria-expanded="false">
			  Article
			  <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-v1.0.1/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
			</a>
			<ul class="dropdown-menu dropdown-menu-animation dropdown-lg dropdown-lg-responsive p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuBlocks">
			  <div class="d-none d-lg-block">
	<li class="nav-item dropdown dropdown-hover dropdown-subitem">
	  <a class="dropdown-item py-2 ps-3 border-radius-md" href="/presentation.html">
		<div class="d-flex">
		  <div class="icon h-10 me-3 d-flex mt-1">
			<i class="ni ni-single-copy-04 text-gradient text-primary"></i>
		  </div>
		  <div class="w-100 d-flex align-items-center justify-content-between">
			<div>
			  <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Page Sections</h6>
			  <span class="text-sm">See all 109 sections</span>
			</div>
  
			<img src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-v1.0.1/img/down-arrow.svg" alt="down-arrow" class="arrow">
		  </div>
		</div>
	  </a>
	  <div class="dropdown-menu mt-0 py-3 px-2 mt-3" aria-labelledby="pageSections">
		<a class="dropdown-item ps-3 border-radius-md mb-1" href="javascript:;">
		  View Article
		</a>
		<a class="dropdown-item ps-3 border-radius-md mb-1" href="javascript:;">
		  Features
		</a>
		<a class="dropdown-item ps-3 border-radius-md mb-1" href="javascript:;">
		  Pricing
		</a>
	  </div>
	</li>
  </div>
  
  <div class="row d-lg-none">
	<div class="col-md-12">
	  <div class="d-flex mb-2">
		<div class="icon h-10 me-3 d-flex mt-1">
		  <i class="ni ni-single-copy-04 text-gradient text-primary"></i>
		</div>
		<div class="w-100 d-flex align-items-center justify-content-between">
		  <div>
			<h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Page Sections</h6>
		  </div>
		</div>
	  </div>
	  <a class="dropdown-item ps-3 border-radius-md mb-1" href="/article">
		View Article
	  </a>
	  <a class="dropdown-item ps-3 border-radius-md mb-1" href="/know">
		Know more
	  </a>
	  <a class="dropdown-item ps-3 border-radius-md mb-1" href="javascript:;">
		Pricing
	  </a>
	</div>
  </div>
  
			</ul>
		  </li>
		  <li class="nav-item ms-lg-auto my-auto ms-3 ms-lg-0 mt-2 mt-lg-0">
			<a href="https://appseed.us/ui-kit/soft-ui-design-system" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1 mt-2 mt-md-0">More Starters</a></li>
		</ul>
	  </div>
	</div>
  </nav>
  <!-- End Navbar -->
  
	

<!--Content-->
<main>
	<div>
		<h1>Know more</h1>


		<section id="introduction">
			<h2>Introduction</h2>
			<p>
			Many of you may already know what sexual harassment is, but did you know that this is a sexual harassment too</p>
			<p style="font-weight:700">“You’re actually doing pretty good for a women/men”</p>
			<p>According to <a href="http://etactics.com">(http://etactics.com)</a> around 72% victim did not think that they were sexually harassed.
				So, there’s clearly still not enough of awareness surrounding what is sexual harassment? 
				What is the effect? And how to to protect ourselves from it.</p>
		</section>


		<section id="request-response">
			<h2>What is sexual harassment?</h2>
			<p>Sexual harassment is an unwanted act of sexual behavior that is done in explicit or implicit way that may or may not make the person offended, harmed or intimidated. 
				Sexual harassment does not always mean it is targeted to one person, it could be conducted to a large group of people and it can affect both men and women. </p>
		</section>


		<section id="type">
			<h2>What is sexual harassment looks like?</h2>
			<p>In a whole there is a lot of form of sexual harassment however, in general there is three main types of sexual harassment namely verbal, non-verbal and physical harassment. 
				To be more specific let’s dive in to each of the examples</p>

			<section id="type-verbal">
				<h4>1. Verbal sexual harassment</h4>
				<p>In definition, verbal sexual harassment is an act of sexual behavior that involves verbal activities in an unwelcomed manner (according to damorelaw.com). 
					To be more clear, if there’s someone saying sexual things that made you feel uncomfortable, then you may be the victim of verbal sexual harassment because of how easy it is to get verbally abused, 
					this made verbal sexual harassment the most common type of harassment, according to whattobecome.com which 77% act of sexual harassment is verbal abuse. Example of verbal sexual harassments are:</p>
				<p>
					● Revealing the desire for sexual activity.<br>
					● Usage of sexually inappropriate language.<br>
					● Speaking in a sexual tone.<br>
					● Criticizing someone’s appearance.<br>
					● Making a sexual jokes.<br>
				</p>
				<p>Keep in mind that not every sexually-themed comment are sexual harassment it usually depends on the context and situation and each person perception are differs. 
					However, we can draw a line of what considered too far and it is important to not let that slide</p>
			</section>

			<section id="type-nonverbal">
				<h4>2. Non-Verbal Harassment</h4>
				<p>Is an act of unwelcomed sexual activity that is not verbal but also not considered to be physical or usually considered as visual sexual harassment. 
					This type of harassment is very common in this modern era, this is because of social media whereas the victim received an explicit message, 
					picture or other similar sexual behavior. However, it is also still conducted in traditional most notably are stalking and staring. Some of the examples are:</p>
				<p>● Sending inappropriate picture.<br>
					● Texting in a sexual manner.<br>
					● Stalking or staring.<br>
					● Taking picture.<br>
					● Blowing kiss or winking</p>
				<p>Because of it’s passive or passive aggressive nature of this behavior it can be relatively hard to identify whether non-verbal abuse have taken place, 
					and the perpetrators can even positioned themselves to be in discreet places so it may go unnoticed.</p>
			</section>

			<section id="type-physical">
				<h4>3. Physical Harassment</h4>
				<p>Unwelcomed sexual physical behavior can be considered as sexual assault or sexual harassment. While other type of sexual harassment is relatively hard to identify it, 
					physical sexual harassment is may be the easiest to detect, this is because of the act of physical touch or similar activity is not as common as verbal or visual and it’s usually easy to draw the line. 
					Some of the examples namely:</p>
				<p>● Any unwelcomed touching<br>
					● Hugging, kissing or massaging<br>
					● Grabbing, rubbing or pinching</p>
				<p>You cannot let unwelcomed sexual harassment happened. You have the right to reject, push or other similar defensive activity if it is deemed necessary. 
					It is important to know that you do not need to be afraid especially in workplace.</p>
			</section>
		</section>


		<section id="effect">
			<h2>What's the effect?</h2>
			<h3>For Victims</h3>
			<p>Significant psychological effects, including as anxiety, sadness, headaches, sleep issues, weight loss or gain, nausea, diminished self-esteem, and sexual dysfunction, 
				can be experienced by sexual harassment victims. They also suffer expenses associated to their jobs, such as lost wages, low morale, unsatisfactory work, and permanent harm to workplace relationships.<br>
				<a href="http://www.equalrights.org/professional/sexhar/work/workplac.asp">(http://www.equalrights.org/professional/sexhar/work/workplac.asp)</a>
				<a href="http://www.stopvaw.org/effects_of_sexual_harassment.html">(http://www.stopvaw.org/effects_of_sexual_harassment.html)</a></p>
			<p>Additionally, in the context of higher education, students who have been the targets of sexual harassment could feel forced to abandon a class, alter their major or minor, and endure physical and mental anguish. 
				Overall, sexual harassment creates an environment that is stressful and counterproductive for learning and working.</p>
			<h3>For Harasser</h3>
			<p>Sexual harassment may result in written or verbal reprimands, referrals for training or therapy, suspension, reassignment, demotion, or termination of employment. 
				Another relevant authority may be referred to for review of potential violations of local, state, and federal laws.</p>
			<p>Any student who is found to have broken any rule(s) established by Ramapo College may be subject to the proper disciplinary measures, which may include, but are not limited to: 
				referral for an educational program, referral for counseling, written or verbal reprimand, probation, suspension, or expulsion.</p>
			<p>Visit the Office of Student Conduct website and refer to the "Sexual Misconduct Policy Governing Students" included in the Student Handbook for more details on the process for filing complaints of student harassment.</p>
		</section>

		
		<section id="filters">
			<h2>How to protect ourselves?</h2>
			<p>Regardless of how it appears, sexual harassment must be recognized and the harasser must be dealt with quickly. It is extremely important to prevent sexual harassment and to deal with it quickly when it does occur.</p>
			<p>Here are eight steps to protect yourself from being sexually harassed: <br>

				1. Be informed about the definition of sexual harassment.<br>
				2. Be knowledgeable about institutional policies regarding sexual harassment.<br>
				3. Take an active role in fostering a work environment free from sexual harassment.<br>
				4. Attend sexual harassment prevention courses or training.<br>
				5. Report the harassment to your supervisor immediately, or to a higher authority if your supervisor is the harasser. Consult with your human resources office and government agency if necessary. Never be afraid to report a comment, action, or gesture by somebody that made you feel uncomfortable.<br>
				6. If possible, speak with the individual directly and inform him or her that you feel the behavior is inappropriate.<br>
				7. Seek support from family members, friends, colleagues, or your state nurses’ association.<br>
				8. Document the harassment in writing as soon as possible<br>
				(<a href="https://minoritynurse.com/8-steps-protect-sexual-harassment/">https://minoritynurse.com/8-steps-protect-sexual-harassment/</a>)</p>
		</section>
		
	</div>
	<nav class="section-nav">
		<ol>
			<li><a href="#introduction">Introduction</a></li>
			<li><a href="#request-response">What's sexual harassment?</a></li>
			<li><a href="#type">What's sexual harassment looks like?</a>
        <ul>
          <li class=""><a href="#type-verbal">Verbal Harassment</a></li>
          <li class=""><a href="#type-nonverbal">Non-Verbal Harassment</a></li>
          <li class=""><a href="#type-physical">Physical Harassment</a></li>
				</ul>
			<li><a href="#effect">What's the effect?</a></li>
			<li class=""><a href="#filters">How to protect ourselves?</a></li>
		</ol>
	</nav>
</main>
</html>

<!--Javascript-->
<script>
	window.addEventListener('DOMContentLoaded', () => {

const observer = new IntersectionObserver(entries => {
	entries.forEach(entry => {
		const id = entry.target.getAttribute('id');
		if (entry.intersectionRatio > 0) {
			document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.add('active');
		} else {
			document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.remove('active');
		}
	});
});

// Track all sections that have an `id` applied
document.querySelectorAll('section[id]').forEach((section) => {
	observer.observe(section);
});

});
</script>

{% endblock content %}

